@font-face {
    font-family: 'Brixton Medium';
    src: local('Brixton Medium');
    src: url("../fonts/Brixton Medium.ttf");
}
@font-face {
    font-family: 'Brixton Bold';
    src: local('Brixton Bold');
    src: url("../fonts/Brixton Bold.ttf");
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: local('Open Sans Semibold'), src: local('OpenSans-Semibold');
    src: url("../fonts/OpenSans-Semibold.ttf");       
}
@font-face {
    font-family: 'Open Sans Extrabold';
    src: local('Open Sans Extrabold'), src: local('OpenSans-ExtraBold');
    src: url("../fonts/OpenSans-ExtraBold.ttf");       
}
@font-face {
    font-family: 'Open Sans Regular';
    src: local('Open Sans Regular'), src: local('OpenSans-Regular');
    src: url("../fonts/OpenSans-Regular.ttf");       
}
@font-face {
    font-family: 'Open Sans Light';
    src: local('Open Sans Light'), src: local('OpenSans-Light');
    src: url("../fonts/OpenSans-Light.ttf");       
}
.nav li {
	display: inline-block;
	padding-left: 100px;
	zoom: 1;
	*display: inline;
}
.nav ul {
	float: right;
}
.logo {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
.nav {
	float: right;
	margin-top: 30px;
}
.nav a {
	text-decoration: none;
	font-family: 'Brixton Medium', 'Brixton';
	color: black;
	font-size: 20px;
	-webkit-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s; 
	transition-duration: 0.5s;

}
.nav a:hover {
color: #808080;
}
.banner img {
	margin-bottom: 20px;
	width: 100%;
}
div h2 {
	font-family: 'Brixton Bold','Brixton';
	color: black;
	font-size: 40px;
	text-align: center;
}
div h4 {
	font-family: 'Open Sans Extrabold', sans-serif;
	font-size: 24px;
	color: #808080;
}
.text p {
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 22px;
	color: #808080;
	line-height: 40px;
}
.text {
	margin-bottom: 20px;
}
.footer {
	clear: both;
	margin-top: 40px;
}
.footer p {
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	float: left;
	margin-bottom: 50px;
}
h5 {
	font-family: 'Open Sans Semibold', sans-serif;
	color: black;
	font-size: 18px;
	margin-top: 20px;
}
.grid_6 img {
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	margin-top: 10px;
}
.grid_6 img:hover {
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE7 */
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.grid_6 h5 a {
	font-family: 'Open Sans Semibold', sans-serif;
	color: #006396;
	font-size: 18px;
	margin-top: 20px;
	text-decoration: underline;
}
.grid_6 h5 a:hover {
	text-decoration: none;
}
.divider {
	margin-bottom: 40px;
}
.social {
	float: right;
}
.social a {
	text-decoration: none;
	padding-left: 20px;
	color: black;
}
.social i {
	transition: color .3s ease-in-out;	
}
.social a:nth-child(1):hover i {
	color: #3B5998;
}
.social a:nth-child(2):hover i {
	color: #4099FF;
}
.social a:nth-child(3):hover i {
	color: #3F729B;
}
.blog_banner {
	position: relative;
}
.blog_banner img, .lviv img {
	width: 100%;
}
.lviv {
	position: relative;
}
.lviv h1 {
	font-family: 'Brixton Bold', 'Brixton';
	font-size: 44px;
	color: white;
	position: absolute;
	margin-left: 8%;
	margin-top: 15%;
	width: 300px;
	line-height: 50px;
}
.lviv h2 {
	font-family: 'Brixton';
	font-size: 30px;
	color: white;
	position: absolute;
	margin-left: 8%;
	margin-top: 30%;
	letter-spacing: 0.5px;
}
.lviv p {
	font-family: 'Brixton';
	font-size: 22px;
	color: white;
	position: absolute;
	margin-left: 8%;
	margin-top: 34%;
	text-decoration: none;
	letter-spacing: 0.5px;
}
.blog_banner p {
	text-align: center;
	font-family: 'Brixton Bold','Brixton';
	font-size: 90px;
	color: white;
	position: absolute;
	margin-left: 25%;
	margin-top: 13%;
	width: 690px;
}
.grid_14 {
	width: 690px;
	margin: 0 auto;
}
.blog_label {
	width: 690px;
}
.blog_label h5 {
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 18px;
	color: black;
	margin-bottom: 10px;
	margin-top: 30px;
}
.blog_label p {
	font-family: 'Open Sans Light', sans-serif;
	font-size: 16px;
	color: #808080;
	margin-bottom: 40px;
}
.blog_label h5 a {
	font-family: 'Open Sans Semibold', sans-serif;
	color: #006396;
	font-size: 18px;
	text-decoration: underline;
}
.blog_label h5 a:hover {
	text-decoration: none;}
.blog_text {
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 22px;
	color: #808080;
	line-height: 36px;
}
.blog_text img {
	margin-top: 30px;
	margin-bottom: 30px;
}
.grid_6 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#map {
margin-top: 30px;
margin-bottom: 20px;
float: left;
}
.form ul {
	float: right;
	margin-top: 15px;
}
.form li {
	list-style: none;
	margin-bottom: 10px;
	width: 490px;
}
.form label {
	display: block;
	font-size: 30px;
	font-family: 'Brixton Bold', 'Brixton';
	text-align: center;
}
.form textarea {
	width: 466px;
	height: 100px;
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: sans-serif;
	padding: 10px;
}
.form input {
	height: 50px;
	width: 490px;
	border: 2px solid black;
	margin-top: 10px;
	font-size: 16px;
	font-family: sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}
input.form_submit {
	height: 50px;
	width: 490px;
	margin-top: 10px;
	border-radius: 30px;
	background: black;
	font-family: 'Open Sans Extrabold', 'Verdana', sans-serif;
	font-size: 16px;
	color: white;
}
input.form_submit:hover {
	cursor: pointer;
	background: #1a1a1a;
	border: none;
}